/*removing extra margin already present in the body*/
body{
	margin: 0;
	font-family: sans-serif;
}

/*remove underline from all the <a> tags */
a{
	text-decoration: none;
}


#body-header{
	/*relative path of the background image*/
	background-image: url(../images/header-background.jpg);

	/*100vh means 100percent of the viewport height, viewport is the visible area*/
	height: 100vh;
	background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.pic-styling{
	 margin-top: 9vh;

	    padding-left: 43%;
}

#pic-style{

	        width: 122px;
    border-radius: 93px;
}

.body-padding{
	    padding-left: 250;
    padding-right: 250;
}

/*remove bullets using list-style and also remove the extra padding from the list elements (ul)*/
.horizontal-list{
	list-style: none;
	padding-left: 0;

}


/*access all the <li> elements inside horizontal-list*/
.horizontal-list li{
	display: inline-block;
}

.text-center{
	text-align: center;
}

.white-text{
	color: white;
}


#body-header-content{
	margin-top: 0vh;
	    padding-right: 44px;
}


/* all the <li> inside all <ul> inside all <nav> inside body-header */
#body-header nav ul li{
	margin-left: 8px;
    margin-right: 8px;
}

#body-header .social-icons li img{
	filter: brightness(5);
	border-radius: 50%;
}


.grey-text{
	color: grey;
}


/*designing each section*/
section{
	height: 100vh;
}

section .lhs{
	display: inline-block;
	width: 8%;
	height: 100%;
	padding-left: 101px;
	/*background-color: red;*/
}

section .lhs{
	vertical-align: top;
}

section .lhs .section-heading{
	border-bottom: 10px solid #12abb0;
    display: inline-block;
    padding-bottom: 10px;
}


section .rhs{
	display: inline-block;
	width: 78%;
	height: 100%;
	/*background-color: blue;*/
}

/*example of overflow*/
/*section .rhs p{
	height: 35px;
    overflow: scroll;
}*/


/*design of the progress bar*/
/*give dimensions of the progress-display*/
.progress-display{
	height: 35px;
	background-color: grey;
	margin-bottom: 50px;
}

/*inner progress percentage*/
.thirty-percent{
	height: 100%;
	background-color: black;
	width: 30%;
}

.thirty-five-percent{
	height: 100%;
	background-color: black;
	width: 35%;
}

.ninety-five-percent{
	height: 100%;
	background-color: black;
	width: 95%;
}
footer{
	height: 100vh;
}
footer .footer-header-1{
	display: inline-block;
	width: 14%;
	height: 25%;
	padding-left: 143px;
}
footer .footer-header-2{
	display: inline-block;
	width: 69%;
	height: 25%;
	
}
.footer-background{
	background-image: url(../images/testimonials-bg.jpg);

	/*100vh means 100percent of the viewport height, viewport is the visible area*/
	height: 123vh;
	background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
footer .heading-style{
	color: white;
	font-size: larger;
}
footer .img-style{
	width: 100px;
}
footer .footer-header-3{
	display: inline-block;
	width: 43%;
	height: 75%;
	padding-left: 82px;
}
footer .footer-header-4{
	display: inline-block;
	width: 39%;
	height: 75%;
	vertical-align: top;
}
footer .sub-heading{
	color: #ffffff80;
	font-size: medium;
}